@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'AzeretMono';
    src: url('./AzeretMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlpinoBold';
    src: url('./Alpino-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlpinoRegular';
    src: url('./Alpino-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}